<ion-view>
  <ion-nav-title>{{title}}</ion-nav-title>
  <ion-content class="padding">
    <div class="card">
      <div class="item-positive item item-divider text-center">
        <h1 class="light">Todo App!</h1>
      </div>
      <div class="item text-center item-text-wrap">
        version 1.0
        <br/>
        <br/> designed & developed by
        <br/> Justin James
        <br/>
        <br/> Built using:
        <br/> JavaScript, AngularJS, Cordova, & Ionic
        <br/>
        <br/>
      </div>
      
    </div>
  </ion-content>
</ion-view>