<ion-modal-view>
  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Project</h1>
    <button class="button button-clear button-positive"  ng-click="closeProjectModal()">Cancel</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="saveNewProject(project)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Project Name" ng-model="project.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Project</button>
      </div>
    </form>

  </ion-content>

</ion-modal-view>