<ion-view>
  <ion-nav-title>{{activeProject.title}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="showTaskModal()" ng-if="activeProject">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <ion-list>
      <ion-item ng-repeat="task in activeProject.tasks " class="item item-icon-left item-icon-right"
      
      ng-class="{completedTask: task.completed}"
       >
      
      {{task.title}}
      <i class="icon"
    ng-class="task.completed ? 
        'ion-checkmark-circled' : 
        'ion-ios-circle-outline'"
    ng-click="completeTask(task, $index)">
</i>
          <i class="icon ion-close icon-accessory" ng-click="deleteTask(task, $index)"></i>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>